# 3.1. Vector and operators

- making and editing vectors

In [1]:
score <- 70
score

[1] 70

In [2]:
score <- c(70, 85, 90)
score

[1] 70 85 90

In [3]:
score[4] <- 100
score[3] <- 95
score

[1]  70  85  95 100

In [4]:
name <- c("알라딘", "자스민", "지니")
name

[1] "알라딘" "자스민" "지니"

- making a vector with sequential values

In [5]:
x <- seq(1, 10, by=3)
x

[1]  1  4  7 10

In [8]:
x <- seq(1, 10, length.out = 5)
x

[1]  1.00  3.25  5.50  7.75 10.00

In [6]:
x <- 1:10
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [7]:
x <- 10:1
x

 [1] 10  9  8  7  6  5  4  3  2  1

- making a vector with repetative values

In [9]:
x <- c(1, 2, 3)
y <- rep(x, times=2)
y

[1] 1 2 3 1 2 3

In [10]:
y <- rep(x, each=2)
y

[1] 1 1 2 2 3 3

- arithmatic operators

In [11]:
2^3

[1] 8

In [12]:
2**3

[1] 8

In [13]:
10%%3   #나머지

[1] 1

In [14]:
10%/%3  # 몫

[1] 3

In [16]:
x <- c(10, 20, 30, 40)
y <- c(2, 4, 6, 8)
z <- c(2, 4)

In [17]:
x + 5

[1] 15 25 35 45

In [18]:
x + y

[1] 12 24 36 48

In [20]:
x + z  # broadcasting

[1] 12 24 32 44

- comparison operators

In [21]:
3 < 10

[1] TRUE

In [23]:
x <- c(10, 20, 30)
x <= 10   # 각각의 원소에 대해 10보다 작거나 같은지에 대해 비교

[1]  TRUE FALSE FALSE

In [24]:
x[x>15]   # 벡터 x에서 15보다 큰 값을 출력

[1] 20 30

In [25]:
any(x <= 10)  # x 중에 10보다 작거나 같은 것이 하나라도 있는지

[1] TRUE

In [26]:
all(x <= 10)  # x의 모든 원소가 10보다 작거나 같은지

[1] FALSE

- logical operators

In [27]:
x <- c(TRUE, TRUE, FALSE, FALSE)
y <- c(TRUE, FALSE, TRUE, FALSE)

In [28]:
x & y # and, 둘다 참이여야 참

[1]  TRUE FALSE FALSE FALSE

In [29]:
x | y # or, 둘 중 하나가 참이면 참

[1]  TRUE  TRUE  TRUE FALSE

In [30]:
xor(x, y)   # 두 원소가 서로 다르면 참, 같으면 거짓

[1] FALSE  TRUE  TRUE FALSE

# 3.2. NA and NULL

- NA: Not Available, 해당 데이터가 누락됨 (결측치)
- NULL: 변수 이름만 생성되어 있는 경우

In [31]:
x <- NULL
is.null(x)

[1] TRUE

In [32]:
y <- c(1, 2, 3, NA, 5)
y

[1]  1  2  3 NA  5

In [34]:
z <- 10/0  # 불능(무한대)
z

[1] Inf

In [36]:
u <- 0/0   # Not a Number (부정)
u

[1] NaN

# 3.3. Factor

In [37]:
gender <- c('남', '여', '남')
gender

[1] "남" "여" "남"

In [38]:
gender.factor

ERROR: Error in eval(expr, envir, enclos): 객체 'gender.factor'를 찾을 수 없습니다

In [39]:
gender.factor <- factor(gender)
gender.factor

[1] 남 여 남
Levels: 남 여

# 3.4. Array and Matrix

- array: 한 개 이상의 벡터로 구성, 다차원으로 확장 가능
- matrix: 행과 열로 구성되는 2차원 배열

In [40]:
x <- c(70, 80, 95)
arr <- array(x)
arr

[1] 70 80 95

In [43]:
z <- 1:6
arr <- array(z, dim=c(2,3))   # 1~6이 들어있는 벡터를 2 by 3 행렬로 구성
arr

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

- 행과 열 이름 설정 및 데이터 수정

In [49]:
name <- list( c("알라딘", "자스민", "지니"), c('국어', "음악"))  # 행과 열의 순서가 바뀌면 이름이 입력되지 않음
score <- c(70, 80, 85, 90, 90, 75)
arr <- array(score, dim=c(2, 3), dimnames=name)
arr

ERROR: Error in array(score, dim = c(2, 3), dimnames = name): 'dimnames'의 길이 [1]가 배열의 크기와 같지 않습니다

In [50]:
name <- list(c('국어', "음악"), c("알라딘", "자스민", "지니")) # 행, 열의 이름 순으로 입력
score <- c(70, 80, 85, 90, 90, 75)
arr <- array(score, dim=c(2, 3), dimnames=name)
arr

     알라딘 자스민 지니
국어 70     85     90
음악 80     90     75

In [51]:
arr[2,3] <- 77
arr

     알라딘 자스민 지니
국어 70     85     90
음악 80     90     77

In [56]:
arr[1, ]   # 1행 출력

알라딘 자스민   지니
    70     85     90

In [58]:
arr[, 1]   # 1열 출력

국어 음악
  70   80

In [60]:
name <- list(c("1행", "2행"), c("1열", "2열", "3열"))
x <- 1:6
mtx <- matrix(x, nrow=2)  # 벡터 x로 2행의 행렬 생성
mtx

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [61]:
mtx <- matrix(x, nrow=2, dimnames = name)  # 벡터 x로 2행의 행렬 생성
mtx

    1열 2열 3열
1행 1   3   5
2행 2   4   6

In [67]:
mtx <- matrix(x, nrow=2, dimnames = name, byrow = TRUE)  # 행을 기준으로 값을 배치
mtx

    1열 2열 3열
1행 1   2   3
2행 4   5   6

In [68]:
y <- c(7, 8, 9)
mtx <- rbind(mtx, y)  # mtx 행렬에 y 벡터를 아래 행에 추가
rownames(mtx)[3] <- "3행"   # 세번째 행의 이름을 지정
mtx

    1열 2열 3열
1행 1   2   3
2행 4   5   6
3행 7   8   9

In [69]:
z <- c(10, 11, 12)
mtx <- cbind(mtx, z)  # mtx 행렬에 z 벡터를 우측 열에 추가
colnames(mtx)[4] <- "4열"
mtx

    1열 2열 3열 4열
1행 1   2   3   10
2행 4   5   6   11
3행 7   8   9   12

# 3.5. List

In [70]:
x <- list("알라딘", 20, c(70, 80))
x

[[1]]
[1] "알라딘"

[[2]]
[1] 20

[[3]]
[1] 70 80

In [75]:
x[1]  # 원소와 인덱스 출력

[[1]]
[1] "알라딘"

In [76]:
x[[1]]  # 원소만 출력

[1] "알라딘"

In [73]:
x[3]

[[1]]
[1] 70 80

In [85]:
x[[3]][1]  # 세번째 원소의 첫번째 원소

[1] 70

In [87]:
x <- list(성명="알라딘", 나이="20", 성적=c(70, 80))  # 각 원소의 항목명이 있는 경우
x

$성명
[1] "알라딘"

$나이
[1] "20"

$성적
[1] 70 80

In [90]:
x[1]  # 항목명과 원소 출력

$성명
[1] "알라딘"

In [91]:
x[[1]]  # 원소만 출력

[1] "알라딘"

In [95]:
x[3]  # 항목과 원소 출력

$성적
[1] 70 80

In [96]:
x[[3]][2]  # 원소 중 하나만 선택 출력

[1] 80