# 3.1. Vector and operators

- making and editing vectors

In [1]:
score <- 70
score

[1] 70

In [2]:
score <- c(70, 85, 90)
score

[1] 70 85 90

In [3]:
score[4] <- 100
score[3] <- 95
score

[1]  70  85  95 100

In [4]:
name <- c("알라딘", "자스민", "지니")
name

[1] "알라딘" "자스민" "지니"

- making a vector with sequential values

In [5]:
x <- seq(1, 10, by=3)
x

[1]  1  4  7 10

In [8]:
x <- seq(1, 10, length.out = 5)
x

[1]  1.00  3.25  5.50  7.75 10.00

In [6]:
x <- 1:10
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [7]:
x <- 10:1
x

 [1] 10  9  8  7  6  5  4  3  2  1

- making a vector with repetative values

In [9]:
x <- c(1, 2, 3)
y <- rep(x, times=2)
y

[1] 1 2 3 1 2 3

In [10]:
y <- rep(x, each=2)
y

[1] 1 1 2 2 3 3

- arithmatic operators

In [11]:
2^3

[1] 8

In [12]:
2**3

[1] 8

In [13]:
10%%3   #나머지

[1] 1

In [14]:
10%/%3  # 몫

[1] 3

In [16]:
x <- c(10, 20, 30, 40)
y <- c(2, 4, 6, 8)
z <- c(2, 4)

In [17]:
x + 5

[1] 15 25 35 45

In [18]:
x + y

[1] 12 24 36 48

In [20]:
x + z  # broadcasting

[1] 12 24 32 44

- comparison operators

In [21]:
3 < 10

[1] TRUE

In [23]:
x <- c(10, 20, 30)
x <= 10   # 각각의 원소에 대해 10보다 작거나 같은지에 대해 비교

[1]  TRUE FALSE FALSE

In [24]:
x[x>15]   # 벡터 x에서 15보다 큰 값을 출력

[1] 20 30

In [25]:
any(x <= 10)  # x 중에 10보다 작거나 같은 것이 하나라도 있는지

[1] TRUE

In [26]:
all(x <= 10)  # x의 모든 원소가 10보다 작거나 같은지

[1] FALSE

- logical operators

In [27]:
x <- c(TRUE, TRUE, FALSE, FALSE)
y <- c(TRUE, FALSE, TRUE, FALSE)

In [28]:
x & y # and, 둘다 참이여야 참

[1]  TRUE FALSE FALSE FALSE

In [29]:
x | y # or, 둘 중 하나가 참이면 참

[1]  TRUE  TRUE  TRUE FALSE

In [30]:
xor(x, y)   # 두 원소가 서로 다르면 참, 같으면 거짓

[1] FALSE  TRUE  TRUE FALSE

# 3.2. NA and NULL

- NA: Not Available, 해당 데이터가 누락됨 (결측치)
- NULL: 변수 이름만 생성되어 있는 경우

In [31]:
x <- NULL
is.null(x)

[1] TRUE

In [32]:
y <- c(1, 2, 3, NA, 5)
y

[1]  1  2  3 NA  5

In [34]:
z <- 10/0  # 불능(무한대)
z

[1] Inf

In [36]:
u <- 0/0   # Not a Number (부정)
u

[1] NaN

# 3.3. Factor

In [37]:
gender <- c('남', '여', '남')
gender

[1] "남" "여" "남"

In [38]:
gender.factor

ERROR: Error in eval(expr, envir, enclos): 객체 'gender.factor'를 찾을 수 없습니다

In [39]:
gender.factor <- factor(gender)
gender.factor

[1] 남 여 남
Levels: 남 여

# 3.4. Array and Matrix

- array: 한 개 이상의 벡터로 구성, 다차원으로 확장 가능
- matrix: 행과 열로 구성되는 2차원 배열

In [40]:
x <- c(70, 80, 95)
arr <- array(x)
arr

[1] 70 80 95

In [43]:
z <- 1:6
arr <- array(z, dim=c(2,3))   # 1~6이 들어있는 벡터를 2 by 3 행렬로 구성
arr

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

- 행과 열 이름 설정 및 데이터 수정

In [49]:
name <- list( c("알라딘", "자스민", "지니"), c('국어', "음악"))  # 행과 열의 순서가 바뀌면 이름이 입력되지 않음
score <- c(70, 80, 85, 90, 90, 75)
arr <- array(score, dim=c(2, 3), dimnames=name)
arr

ERROR: Error in array(score, dim = c(2, 3), dimnames = name): 'dimnames'의 길이 [1]가 배열의 크기와 같지 않습니다

In [50]:
name <- list(c('국어', "음악"), c("알라딘", "자스민", "지니")) # 행, 열의 이름 순으로 입력
score <- c(70, 80, 85, 90, 90, 75)
arr <- array(score, dim=c(2, 3), dimnames=name)
arr

     알라딘 자스민 지니
국어 70     85     90
음악 80     90     75

In [51]:
arr[2,3] <- 77
arr

     알라딘 자스민 지니
국어 70     85     90
음악 80     90     77

In [56]:
arr[1, ]   # 1행 출력

알라딘 자스민   지니
    70     85     90

In [58]:
arr[, 1]   # 1열 출력

국어 음악
  70   80

In [60]:
name <- list(c("1행", "2행"), c("1열", "2열", "3열"))
x <- 1:6
mtx <- matrix(x, nrow=2)  # 벡터 x로 2행의 행렬 생성
mtx

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [61]:
mtx <- matrix(x, nrow=2, dimnames = name)  # 벡터 x로 2행의 행렬 생성
mtx

    1열 2열 3열
1행 1   3   5
2행 2   4   6

In [67]:
mtx <- matrix(x, nrow=2, dimnames = name, byrow = TRUE)  # 행을 기준으로 값을 배치
mtx

    1열 2열 3열
1행 1   2   3
2행 4   5   6

In [68]:
y <- c(7, 8, 9)
mtx <- rbind(mtx, y)  # mtx 행렬에 y 벡터를 아래 행에 추가
rownames(mtx)[3] <- "3행"   # 세번째 행의 이름을 지정
mtx

    1열 2열 3열
1행 1   2   3
2행 4   5   6
3행 7   8   9

In [69]:
z <- c(10, 11, 12)
mtx <- cbind(mtx, z)  # mtx 행렬에 z 벡터를 우측 열에 추가
colnames(mtx)[4] <- "4열"
mtx

    1열 2열 3열 4열
1행 1   2   3   10
2행 4   5   6   11
3행 7   8   9   12

# 3.5. List

In [70]:
x <- list("알라딘", 20, c(70, 80))
x

[[1]]
[1] "알라딘"

[[2]]
[1] 20

[[3]]
[1] 70 80

In [75]:
x[1]  # 원소와 인덱스 출력

[[1]]
[1] "알라딘"

In [76]:
x[[1]]  # 원소만 출력

[1] "알라딘"

In [73]:
x[3]

[[1]]
[1] 70 80

In [85]:
x[[3]][1]  # 세번째 원소의 첫번째 원소

[1] 70

In [87]:
x <- list(성명="알라딘", 나이="20", 성적=c(70, 80))  # 각 원소의 항목명이 있는 경우
x

$성명
[1] "알라딘"

$나이
[1] "20"

$성적
[1] 70 80

In [90]:
x[1]  # 항목명과 원소 출력

$성명
[1] "알라딘"

In [91]:
x[[1]]  # 원소만 출력

[1] "알라딘"

In [95]:
x[3]  # 항목과 원소 출력

$성적
[1] 70 80

In [96]:
x[[3]][2]  # 원소 중 하나만 선택 출력

[1] 80

# 3.6. Data Frame

In [10]:
df <- data.frame(성명=c("알라딘", "자스민"), 나이=c(20, 19), 국어=c(70, 85))
df

  성명   나이 국어
1 알라딘 20   70
2 자스민 19   85

In [11]:
df <- cbind(df, 음악=c(80,90))  # 오른쪽 열에 벡터를 추가
df

  성명   나이 국어 음악
1 알라딘 20   70   80
2 자스민 19   85   90

In [12]:
df <- rbind(df, data.frame(성명="지니", 나이=30, 국어=90, 음악=75))  # 아래 행에 데이터프레임을 추가
df

  성명   나이 국어 음악
1 알라딘 20   70   80
2 자스민 19   85   90
3 지니   30   90   75

In [13]:
df[3, 2]

[1] 30

In [14]:
df[3, ]

  성명 나이 국어 음악
3 지니 30   90   75

In [15]:
df[, 3]

[1] 70 85 90

In [18]:
df[-2,]  # 2행을 제외하고 출력

  성명   나이 국어 음악
1 알라딘 20   70   80
3 지니   30   90   75

In [19]:
df[, -1]  # 1열을 제외하고 출력

  나이 국어 음악
1 20   70   80
2 19   85   90
3 30   90   75

In [20]:
str(df)   # 데이터프레임 구조 출력 -> 성명이 요인으로 자동 지정됨

'data.frame':	3 obs. of  4 variables:
 $ 성명: Factor w/ 3 levels "알라딘","자스민",..: 1 2 3
 $ 나이: num  20 19 30
 $ 국어: num  70 85 90
 $ 음악: num  80 90 75

In [21]:
df[1, 2] <- 21
df

  성명   나이 국어 음악
1 알라딘 21   70   80
2 자스민 19   85   90
3 지니   30   90   75

In [23]:
df[1, 1] <- "Aladin"   # 요인의 경우 레벨에 없는 문자로 수정 불가

Warning message in `[<-.factor`(`*tmp*`, iseq, value = "Aladin"):
"invalid factor level, NA generated"

In [24]:
df <- data.frame(성명=c("알라딘", "자스민"),
                나이=c(20, 19),
                국어=c(70, 85),
                stringsAsFactors=F)   # 문자를 요인으로 만들지 않도록 설정
str(df)

'data.frame':	2 obs. of  3 variables:
 $ 성명: chr  "알라딘" "자스민"
 $ 나이: num  20 19
 $ 국어: num  70 85

In [25]:
df

  성명   나이 국어
1 알라딘 20   70
2 자스민 19   85

In [26]:
df[1, 1] <- "Aladin"   # 요인이 아니기 때문에 변경 가능
df

  성명   나이 국어
1 Aladin 20   70
2 자스민 19   85

# 3.7. Reading Data File

- datasets 패키지의 데이터 목록

In [28]:
data(package = "datasets")

In [31]:
head(quakes)  # 맨 앞 6줄(default) 출력

  lat    long   depth mag stations
1 -20.42 181.62 562   4.8 41
2 -20.62 181.03 650   4.2 15
3 -26.00 184.10  42   5.4 43
4 -17.97 181.66 626   4.1 19
5 -20.42 181.96 649   4.0 11
6 -19.68 184.31 195   4.0 12

In [32]:
tail(quakes, n=10)   # 맨 뒤 10줄 출력

     lat    long   depth mag stations
991  -20.73 181.42 575   4.3  18
992  -15.45 181.42 409   4.3  27
993  -20.05 183.86 243   4.9  65
994  -17.95 181.37 642   4.0  17
995  -17.70 188.10  45   4.2  10
996  -25.93 179.54 470   4.4  22
997  -12.28 167.06 248   4.7  35
998  -20.13 184.20 244   4.5  34
999  -17.40 187.80  40   4.5  14
1000 -21.59 170.56 165   6.0 119

In [33]:
str(quakes)   # quakes 데이터셋 구조 출력

'data.frame':	1000 obs. of  5 variables:
 $ lat     : num  -20.4 -20.6 -26 -18 -20.4 ...
 $ long    : num  182 181 184 182 182 ...
 $ depth   : int  562 650 42 626 649 195 82 194 211 622 ...
 $ mag     : num  4.8 4.2 5.4 4.1 4 4 4.8 4.4 4.7 4.3 ...
 $ stations: int  41 15 43 19 11 12 43 15 35 19 ...

In [35]:
summary(quakes)   # 데이터셋의 column별 통계 정보 출력

      lat              long           depth            mag
 Min.   :-38.59   Min.   :165.7   Min.   : 40.0   Min.   :4.00
 1st Qu.:-23.47   1st Qu.:179.6   1st Qu.: 99.0   1st Qu.:4.30
 Median :-20.30   Median :181.4   Median :247.0   Median :4.60
 Mean   :-20.64   Mean   :179.5   Mean   :311.4   Mean   :4.62
 3rd Qu.:-17.64   3rd Qu.:183.2   3rd Qu.:543.0   3rd Qu.:4.90
 Max.   :-10.72   Max.   :188.1   Max.   :680.0   Max.   :6.40
    stations
 Min.   : 10.00
 1st Qu.: 18.00
 Median : 27.00
 Mean   : 33.42
 3rd Qu.: 42.00
 Max.   :132.00

In [36]:
dim(quakes)   # 데이터셋의 행과 열 수

[1] 1000    5

In [37]:
names(quakes)  # 데이터셋을 구성하는 열 이름

[1] "lat"      "long"     "depth"    "mag"      "stations"

- 데이터셋 저장하고 파일 읽기

In [39]:
write.table(quakes, "c:/R/quakes.csv", sep=",")
df <- read.csv("c:/R/quakes.csv", header=T)  # 첫 행을 항목명으로 인식
head(df)

  lat    long   depth mag stations
1 -20.42 181.62 562   4.8 41
2 -20.62 181.03 650   4.2 15
3 -26.00 184.10  42   5.4 43
4 -17.97 181.66 626   4.1 19
5 -20.42 181.96 649   4.0 11
6 -19.68 184.31 195   4.0 12

- rdata로 저장하기

In [44]:
df <- data.frame(성명=c("알라딘", "자스민"), 나이=c(20, 19), 국어=c(70, 85))
df

  성명   나이 국어
1 알라딘 20   70
2 자스민 19   85

In [45]:
save(df, file = "c:/R/df.rdata")

In [46]:
rm(df)

In [48]:
load("c:/R/df.rdata")
df

  성명   나이 국어
1 알라딘 20   70
2 자스민 19   85

# 3.8. Function

In [49]:
abs(-10)  # 절댓값

[1] 10

In [50]:
x <- 1:10
mean(x)   # 평균

[1] 5.5

In [51]:
sd(x)  # 표준편차

[1] 3.02765

In [52]:
sqrt(100)   # 제곱근

[1] 10

In [53]:
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [54]:
sum(x)  # 합

[1] 55

In [55]:
var(x)  # 분산

[1] 9.166667

- define a function

In [56]:
getTriangleArea <- function(w, h){
    area <- w * h / 2
    return(area)
}

In [57]:
getTriangleArea(10, 5)

[1] 25

# Practice

1. 교재 71페이지 자료(시도명과 초미세먼지농도) R에 저장

In [86]:
city <- c("서울", "부산", "대구", "인천", "광주", "대전", "울산")
pm25 <- c(18, 21, 21, 17, 8, 11, 25)

df_pm <- data.frame(시도명=city, 초미세먼지농도=pm25)
df_pm

  시도명 초미세먼지농도
1 서울   18
2 부산   21
3 대구   21
4 인천   17
5 광주    8
6 대전   11
7 울산   25

2. 1의 자료를 확장자 Rdata로 내보내기

In [87]:
save(df_pm, file = "c:/R/pm25.rdata")  # 데이터 저장

In [88]:
rm(list=ls())    # 모든 변수 삭제

In [89]:
ls()

character(0)

In [90]:
load("c:/R/pm25.rdata")   # 데이터 불러오기

In [91]:
ls()

[1] "df_pm"

In [93]:
df_pm

  시도명 초미세먼지농도
1 서울   18
2 부산   21
3 대구   21
4 인천   17
5 광주    8
6 대전   11
7 울산   25

3. 1의 자료를 확장자 csv로 내보내기

In [94]:
write.table(df_pm, "c:/R/df_pm.csv", sep=",")

In [96]:
df <- read.csv("c:/R/df_pm.csv", header=T)
df

  시도명 초미세먼지농도
1 서울   18
2 부산   21
3 대구   21
4 인천   17
5 광주    8
6 대전   11
7 울산   25

4. 원의 넓이 함수 만들기

In [100]:
getCircleArea <- function(r){
    area <- 3.14 * (r^2)
    return(area)
}

In [101]:
getCircleArea(5)

[1] 78.5