In [1]:
score <- 70
score

[1] 70

In [2]:
score <- c(70, 80, 90)
score[3] <- 100
score

[1]  70  80 100

In [3]:
score[4]<- 100
score

[1]  70  80 100 100

In [5]:
score[7] <- 100
score   # NA: Not Available (값이 할당되지 않은 상태)

[1]  70  80 100 100  NA  NA 100

In [6]:
x <- 1:10
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [7]:
x <- seq(1, 10)
x

 [1]  1  2  3  4  5  6  7  8  9 10

In [9]:
x <- seq(1, 10, by=3)  # 3칸 간격으로
x

[1]  1  4  7 10

In [14]:
x <- seq(1, 10, length.out = 6)
x

[1]  1.0  2.8  4.6  6.4  8.2 10.0

In [11]:
x <- rep(1, 10)  # 1을 10번 반복
x

 [1] 1 1 1 1 1 1 1 1 1 1

In [15]:
x <- seq(10, 1)
x

 [1] 10  9  8  7  6  5  4  3  2  1

In [16]:
x <- 10:1
x

 [1] 10  9  8  7  6  5  4  3  2  1

In [17]:
x <- rep(10, 5)
x

[1] 10 10 10 10 10

In [18]:
x <- c(10, 20, 30)
y <- rep(x, 2)
y

[1] 10 20 30 10 20 30

In [19]:
x <- c(10, 20, 30)
y <- rep(x, times=2)
y

[1] 10 20 30 10 20 30

In [20]:
x <- c(10, 20, 30)
y <- rep(x, each=2)
y

[1] 10 10 20 20 30 30

In [23]:
10/3 # 나눗셈

[1] 3.333333

In [24]:
10%%3 # 나머지

[1] 1

In [26]:
10%/%3  #몫

[1] 3

In [28]:
x <- c(1, 2, 3)
y <- c(10, 20)
x + y

Warning message in x + y:
"두 객체의 길이가 서로 배수관계에 있지 않습니다"

[1] 11 22 13